.contain {
    background-color: #efefef;
}
.main-content {
    margin-left: 95px;
    min-height: 100vh;
    overflow: scroll;
}
.table-contain {
    width: 100%;
    overflow: auto;
}
thead, tfoot {
    background-color: #404b5b;
    color: white;
}
.breadcrumb-item {
    font-size: 20px;
}
@media (min-width: 992px) {
    .main-content {
        margin-left: 220px;
    }
}