<div class="sidemenu">
    <div class="logo">
        <!-- <img src="" alt=""> -->
        <h2><i class="bi bi-x-diamond-fill"></i> <span>NIP MINI</span></h2>
    </div>
    <div>
        <ul class="side-list">
            <li><a class="menu-link" routerLinkActive="active-tab" routerLink="/index/dashboard"><i class="bi bi-house-door"></i>  <span>Dashboard</span></a></li>
            <li><a class="menu-link" routerLinkActive="active-tab" routerLink="/index/clients"><i class="bi bi-people-fill"></i>  <span>Clients</span></a></li>
            <li><a class="menu-link" routerLinkActive="active-tab" routerLink="/index/accounts"><i class="bi bi-wallet2"></i>  <span>Debit Accounts</span></a></li>
            <!-- <li><a class="menu-link" routerLink="/index/account-profiling">Debit Accounts</a></li> -->
            <li><a class="menu-link" routerLinkActive="active-tab" routerLink="/index/transactions"><i class="bi bi-activity"></i>  <span>Transactions</span></a></li>
            <li><a href="#" class="menu-link"><i class="bi bi-gear"></i> <span>Settings</span></a></li>
        </ul>
    </div>
    </div>
