<div class="sidemenu">
    <div class="logo bg-dark">
        <!-- <img src="" alt=""> -->
        <h2>NIPS</h2>
    </div>
    <div>
        <ul class="side-list">
            <li><a class="menu-link" routerLink="/index/dashboard">Dashboard</a></li>
            <li><a class="menu-link" routerLink="/index/clients">Clients</a></li>
            <li><a class="menu-link" routerLink="/index/accounts">Accounts</a></li>
            <li><a class="menu-link" routerLink="/index/account-profiling">Debit Accounts</a></li>
            <li><a class="menu-link" routerLink="/index/transactions">Transactions</a></li>
        </ul>
    </div>
    </div>
