.sidemenu {
    background-color: #404b5b;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 95px;
}
.logo {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}
.logo h2 {
    font-weight: bold;
    margin-bottom: 0;
}
.bi-x-diamond-fill {
    color: #2a89dd;
}
.side-list {
    padding-left: 0;
    list-style-type: none;
    margin-top: 16px;
}
.menu-link {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    transition: all 0.25s;
}
.menu-link:hover {
    background-color: #cacaca;
    color: black;
}
.active-tab {
    background-color: #cacaca;
    color: black;
}
.bi {
    margin-right: 5px;
}
@media (min-width: 992px) {
    .sidemenu {
        width: 220px;
    }
}
@media (max-width: 992px) {
    .menu-link span, .logo span {
        display: none;
    }
    .menu-link i {
        font-size: 21px;
    }
    .menu-link {
        text-align: center;
    }
}