.sidemenu {
    background-color: #404b5b;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 220px;
}
.logo {
    padding: 10px 30px;
    /* text-align: center; */
    color: white;
}
.logo h2 {
    font-weight: bold;
    margin-bottom: 0;
}
.side-list {
    padding-left: 0;
    list-style-type: none;
}
.menu-link {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    transition: all 0.25s;
}
.menu-link:hover {
    background-color: #cacaca;
    color: black;
}
.active-tab {
    background-color: #cacaca;
    color: black;
}