<div class="contain">
  <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="main-content">
      <div class="p-4">
        <!-- <h1>Clients</h1> -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Clients</li>
          </ol>
        </nav>
        <!-- Button trigger modal -->
        <button (click)="showAdd = true" type="button" class="btn mb-3 btn-success">
          Add Client
        </button>

        <!-- <button type="button" (click)="rerender()">Rerender</button> -->

        <form [formGroup]="clientForm">
          <div class="row mb-5 filter-sect">
                    <div class="col-sm-6 col-12">
                        <form [formGroup]="clientForm">
                            <label>Client Name <span class="text-danger">*</span></label>
                            <ng-select (change)="onChange()" formControlName="name">
                                <ng-option *ngFor="let client of clientsList" [value]="client.name">{{client.name}}</ng-option>
                            </ng-select>
                        </form>
                    </div>
                    <div class="col-sm-2">
                            <button class="btn btn-primary" [disabled]="selectedClient === 'All Clients' || clientForm.invalid" (click)="filter()">Filter</button>
                    </div>
        </div>
      </form>  


                        <!-- <div class="btn-group" role="group">
                           <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                           <ul class="dropdown-menu">
                               <li><button type="button" (click)="toggleStatus(client)" id="toggleStatus" class="dropdown-item" href="#">Toggle Status</button></li>
                               <li><button type="button" (click)="editClient(client)" id="editClient" class="dropdown-item" href="#">Edit</button></li>
                               <li><button type="button" (click)="viewAccounts(client)" id="viewAccounts" class="dropdown-item" href="#">View Accounts</button></li>
                           </ul>
                        </div> -->

      <!-- Modal -->
      <div *ngIf="showAdd" class="overlay"></div>
      <div *ngIf="showAdd" class="modal" [ngClass]="{'anim': showAdd}" id="clientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">Add Client</h2>
              <button type="button" (click)="closeDialog()" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="addClientForm">
                  <div class="modal-form">
                      <div class="form-f">
                          <label>Client name:</label>
                          <input class="form-control" type="text" formControlName="name">
                          <div class="text-danger" *ngIf="addClientForm.get('name')?.invalid && ( addClientForm.get('name')?.touched || addClientForm.get('name')?.dirty )">
                            <div *ngIf="addClientForm.get('name')?.hasError('required')">Name is required</div>
                            <div *ngIf="addClientForm.get('name')?.hasError('pattern')">No special characters allowed</div>
                          </div>
                      </div>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button [disabled]="submitted || addClientForm.invalid" class="btn mod-btn btn-primary" (click)="storeClient()" type="submit">
                <span *ngIf="submitted" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>{{submitted ? 'Loading' : 'Store'}}</button>
            </div>
          </div>
        </div>
      </div> 

      <div *ngIf="showEdit" class="overlay"></div>
      <div *ngIf="showEdit" class="modal" [ngClass]="{'anim': showEdit}" id="clientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">Add Client</h2>
              <button type="button" (click)="closeDialog()" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editClientForm">
                  <div class="modal-form">
                      <div class="form-f">
                          <label>Client name:</label>
                          <input class="form-control" type="text" value="{{clientToEdit}}" placeholder="clientToEdit" formControlName="name">
                          <div class="text-danger" *ngIf="editClientForm.get('name')?.invalid && ( editClientForm.get('name')?.touched || editClientForm.get('name')?.dirty )">
                            <div *ngIf="editClientForm.get('name')?.hasError('required')">Name is required</div>
                            <div *ngIf="editClientForm.get('name')?.hasError('pattern')">No special characters allowed</div>
                          </div>
                      </div>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button [disabled]="submitted || editClientForm.invalid" class="btn mod-btn btn-primary" (click)="updateClient()" type="submit">
                <span *ngIf="submitted" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>{{submitted ? 'Loading' : 'Update'}}</button>
            </div>
          </div>
        </div>
      </div> 

      <!-- Datatable -->
        <div class="table-contain">    
          <table datatable id="clientTable" #dTable [dtOptions]="dtOptions" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>S/No</th>
                <th>Number Of Accounts</th>
                <th>Name</th>
                <th>Active?</th>
                <th>Date Created</th> 
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngIf="persons?.length != 0">
              <!-- Data from server rendered here -->
            </tbody>
            <tfoot>
              <tr>
                <th>S/No</th>
                <th>Number Of Accounts</th>
                <th>Name</th>
                <th>Active?</th>
                <th>Date Created</th> 
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
</div>
</div>
