.main-content {
    margin-left: 220px;
    min-height: 100vh;
    overflow: scroll;
}
.table-contain {
    width: 100%;
    overflow: auto;
}
thead {
    background-color: #404b5b;
    color: white;
}