.contain {
    background-color: #efefef;
}
.main-content {
    margin-left: 220px;
    min-height: 100vh;
    overflow: scroll;
}
.breadcrumb-item {
    font-size: 20px;
}
.modal-dialog {
    margin-top: 0px;
}
thead, tfoot {
    background-color: #404b5b;
    color: white;
}
.filter-sect {
    align-items: flex-end;
}
